<div class="modal-header sticky-header">
    <button
        type="button"
        class="close"
        aria-label="閉じる"
        ng-click="$ctrl.dismiss()"
    >
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">
        <div class="text-4xl">システムコマンドを編集:</div>
        <div class="text-4xl font-bold">{{$ctrl.command.name}}</div>
    </h4>
</div>
<div class="modal-body general-button-settings">
    <setting-container header="トリガー">
        <div class="input-group pb-5">
            <span class="input-group-addon" id="basic-addon3">トリガー</span>
            <input
                type="text"
                class="form-control"
                aria-describedby="basic-addon3"
                ng-model="$ctrl.command.trigger"
                placeholder="!something"
            />
        </div>

        <div class="controls-fb-inline">
            <label class="control-fb control--checkbox"
                >トリガーメッセージを自動削除
                <tooltip
                    text="'このコマンドを発火したメッセージを Firebot が自動削除し、チャットを見やすく保ちます。'"
                ></tooltip>
                <input
                    type="checkbox"
                    ng-model="$ctrl.command.autoDeleteTrigger"
                    aria-label="..."
                />
                <div class="control__indicator"></div>
            </label>

            <label class="control-fb control--checkbox"
                >メッセージ全体を検索
                <tooltip
                    text="'先頭の単語だけでなく、メッセージ全体からトリガーを検索します。'"
                ></tooltip>
                <input
                    type="checkbox"
                    ng-model="$ctrl.command.scanWholeMessage"
                    aria-label="..."
                />
                <div class="control__indicator"></div>
            </label>
        </div>

        <firebot-input
            ng-if="$ctrl.command.baseCommandDescription == null"
            input-title="説明"
            title-tooltip="コマンド一覧ページに表示されます"
            placeholder-text="説明を入力"
            model="$ctrl.command.description"
            disable-variables="true"
            class="pt-6"
        >
        </firebot-input>
        <firebot-input
            ng-if="$ctrl.command.baseCommandDescription != null"
            input-title="説明"
            title-tooltip="コマンド一覧ページに表示されます"
            placeholder-text="説明を入力"
            model="$ctrl.command.baseCommandDescription"
            disable-variables="true"
            class="pt-6"
        >
        </firebot-input>
    </setting-container>

    <setting-container
        header="クールダウン"
        pad-top="true"
        ng-hide="$ctrl.command.hideCooldowns"
    >
        <command-cooldown-settings
            command="$ctrl.command"
            message-setting-disabled="true"
        ></command-cooldown-settings>
    </setting-container>

    <setting-container
        header="制限"
        description="権限、通貨コストなど"
        pad-top="true"
    >
        <restrictions-list
            restriction-data="$ctrl.command.restrictionData"
            trigger="command"
            trigger-meta="$ctrl.triggerMeta"
        >
        </restrictions-list>
    </setting-container>

    <setting-container header="一般" pad-top="true">
        <div class="controls-fb-inline">
            <label class="control-fb control--checkbox"
                >有効
                <input
                    type="checkbox"
                    ng-model="$ctrl.command.active"
                    aria-label="..."
                    checked
                />
                <div class="control__indicator"></div>
            </label>
            <label class="control-fb control--checkbox"
                >非表示
                <tooltip
                    text="'このコマンドを !commands 一覧から非表示にします'"
                ></tooltip>
                <input
                    type="checkbox"
                    ng-model="$ctrl.command.hidden"
                    aria-label="..."
                />
                <div class="control__indicator"></div>
            </label>
        </div>
    </setting-container>

    <setting-container header="共有チャット" pad-top="true">
        <div class="controls-fb-inline">
            <firebot-radios
                options="$ctrl.sharedChatRadioOptions"
                model="$ctrl.command.allowTriggerBySharedChat"
                inline="true"
            />
        </div>
    </setting-container>

    <setting-container
        header="設定"
        ng-if="$ctrl.command.options != null"
        pad-top="true"
    >
        <dynamic-parameter
            ng-repeat="(settingName, settingSchema) in $ctrl.command.options"
            name="{{settingName}}"
            schema="settingSchema"
            ng-model="$ctrl.command.options[settingName].value"
        >
        </dynamic-parameter>
    </setting-container>

    <setting-container header="追加エフェクト" pad-top="true">
        <div
            ng-if="$ctrl.command.subCommands != null && $ctrl.command.subCommands.length > 0"
            style="margin-bottom: 20px; font-weight: 100"
        >
            これはユーザーが引数を指定しなかった場合のみ実行されます。
        </div>
        <effect-list
            header="このコマンドで何を実行しますか？"
            effects="$ctrl.command.effects"
            trigger="command"
            trigger-meta="{ rootEffects: $ctrl.command.effects }"
            update="$ctrl.effectListUpdated(effects)"
            is-array="true"
        ></effect-list>
    </setting-container>

    <setting-container
        header="サブコマンド"
        ng-if="$ctrl.command.subCommands != null && $ctrl.command.subCommands.length > 0"
        pad-top="true"
    >
        <div class="flex text-lg font-bold pb-4">
            <div class="muted pl-8" style="flex-basis: 30%">
                <i class="fas fa-tag"></i> 引数
            </div>
            <div class="muted" style="width: 25%">
                <i class="fas fa-clock"></i> クールダウン
            </div>
            <div class="muted" style="width: 25%">
                <i class="fas fa-lock-alt"></i> 権限
            </div>
            <div class="muted" style="width: 25%"></div>
            <div
                class="muted pr-8"
                style="flex-basis: 30px; flex-shrink: 0"
            ></div>
        </div>
        <subcommand-row
            ng-repeat="subcommand in $ctrl.command.subCommands track by $index"
            subcommand="subcommand"
            cmd-trigger="{{$ctrl.command.trigger}}"
        ></subcommand-row>
    </setting-container>
</div>

<div class="modal-footer sticky-footer">
    <button
        type="button"
        class="btn btn-danger pull-left"
        ng-click="$ctrl.reset()"
    >
        デフォルトに戻す
    </button>
    <button type="button" class="btn btn-link" ng-click="$ctrl.dismiss()">
        キャンセル
    </button>
    <button
        type="button"
        class="btn btn-primary add-new-board-save"
        ng-click="$ctrl.save()"
    >
        変更を保存
    </button>
</div>
