<div class="modal-header sticky-header">
  <button
    type="button"
    class="close"
    aria-label="Close"
    ng-click="$ctrl.dismiss()"
  >
    <span aria-hidden="true">&times;</span>
  </button>
  <h4 class="modal-title">
    <div class="text-4xl">編集:</div>
    <div class="text-4xl font-bold">{{$ctrl.command.name}}</div>
  </h4>
</div>
<div class="modal-body general-button-settings">
  <setting-container header="Trigger">
    <div class="input-group pb-5">
      <span class="input-group-addon" id="basic-addon3">起動</span>
      <input
        type="text"
        class="form-control"
        aria-describedby="basic-addon3"
        ng-model="$ctrl.command.trigger"
        placeholder="!something のような !から始まるフレーズ"
      />
    </div>

    <div class="controls-fb-inline">
      <label class="control-fb control--checkbox"
        >起動メッセージを自動消去
        <tooltip
          text="'チャットをクリーンに保つため Firebot はコマンドを起動するメッセージを自動的に削除します。'"
        ></tooltip>
        <input
          type="checkbox"
          ng-model="$ctrl.command.autoDeleteTrigger"
          aria-label="..."
        />
        <div class="control__indicator"></div>
      </label>

      <label class="control-fb control--checkbox"
        >チャット内のどこかで一致すれば起動できるようにする
        <tooltip
          text="'初の単語だけではなく、メッセージ全体を起動対象にします'"
        ></tooltip>
        <input
          type="checkbox"
          ng-model="$ctrl.command.scanWholeMessage"
          aria-label="..."
        />
        <div class="control__indicator"></div>
      </label>
    </div>
  </setting-container>

  <setting-container
    header="Cooldowns"
    pad-top="true"
    ng-hide="$ctrl.command.hideCooldowns"
  >
      <command-cooldown-settings command="$ctrl.command" message-setting-disabled="true"></command-cooldown-settings>
  </setting-container>

  <setting-container
    header="制限"
    description="権限、通貨、コストなど"
    pad-top="true"
  >
    <restrictions-list
      restriction-data="$ctrl.command.restrictionData"
      trigger="command"
      trigger-meta="$ctrl.triggerMeta"
    >
    </restrictions-list>
  </setting-container>

  <setting-container header="General" pad-top="true">
    <div class="controls-fb-inline">
      <label class="control-fb control--checkbox"
        >Is Active
        <input
          type="checkbox"
          ng-model="$ctrl.command.active"
          aria-label="..."
          checked
        />
        <div class="control__indicator"></div>
      </label>
      <label class="control-fb control--checkbox"
        >コマンドリストで表示しない
        <tooltip text="'!commandsリストに表示しないようにします'"></tooltip>
        <input
          type="checkbox"
          ng-model="$ctrl.command.hidden"
          aria-label="..."
        />
        <div class="control__indicator"></div>
      </label>
    </div>
  </setting-container>

  <setting-container
    header="Settings"
    ng-if="$ctrl.command.options != null"
    pad-top="true"
  >
    <command-option
      ng-repeat="(optionName, optionMetadata) in $ctrl.command.options"
      ng-if="optionMetadata.title === 'Output Template'"
      name="optionName"
      metadata="optionMetadata"
    ></command-option>
    <command-option
      ng-repeat="(optionName, optionMetadata) in $ctrl.command.options"
      ng-if="optionMetadata.title !== 'Output Template'"
      name="optionName"
      metadata="optionMetadata"
    ></command-option>
  </setting-container>

  <setting-container
    header="Additional Effects"
    pad-top="true"
  >
    <div ng-if="$ctrl.command.subCommands != null && $ctrl.command.subCommands.length > 0" style="margin-bottom: 20px;font-weight: 100;">
      ユーザーが引数を指定しない場合にのみ起動されます。
    </div>
    <effect-list
      header="このコマンドは何をしたらよいですか？"
      effects="$ctrl.command.effects"
      trigger="command"
      update="$ctrl.effectListUpdated(effects)"
      is-array="true"
    ></effect-list>
  </setting-container>

  <setting-container
    header="サブコマンド"
    ng-if="$ctrl.command.subCommands != null && $ctrl.command.subCommands.length > 0"
    pad-top="true"
  >
    <div class="flex text-lg font-bold pb-4">
      <div class="muted pl-8" style="flex-basis: 30%;">
        <i class="fas fa-tag"></i> 引数
      </div>
      <div class="muted" style="width: 25%">
        <i class="fas fa-clock"></i> 再実行待ち
      </div>
      <div class="muted" style="width: 25%">
        <i class="fas fa-lock-alt"></i> 権限
      </div>
      <div class="muted" style="width: 25%"></div>
      <div
        class="muted pr-8"
        style="flex-basis: 30px; flex-shrink: 0;"
      ></div>
    </div>
    <subcommand-row
      ng-repeat="subcommand in $ctrl.command.subCommands track by $index"
      subcommand="subcommand"
      cmd-trigger="{{$ctrl.command.trigger}}"
    ></subcommand-row>
  </setting-container>
</div>

<div class="modal-footer sticky-footer">
  <button
    type="button"
    class="btn btn-danger pull-left"
    ng-click="$ctrl.reset()"
  >
    初期値に戻す
  </button>
  <button type="button" class="btn btn-link" ng-click="$ctrl.dismiss()">
    キャンセル
  </button>
  <button
    type="button"
    class="btn btn-primary add-new-board-save"
    ng-click="$ctrl.save()"
  >
    保存
  </button>
</div>
