<context-menu-modal-header
    on-close="$ctrl.dismiss()"
    trigger-type="command"
    trigger-name="$ctrl.command.trigger"
    sort-tags="$ctrl.command.sortTags"
    show-trigger-name="true"
></context-menu-modal-header>

<div class="modal-body" ng-style="{'padding': $ctrl.command.simple ? '15px' : '0 0 15px'}">
    <simple-command-options
        command="$ctrl.command"
        ng-if="$ctrl.command.simple"
    ></simple-command-options>

    <div ng-if="!$ctrl.command.simple">
        <firebot-tabs active="$ctrl.activeTab" type="underlined" full-width="true">
            <firebot-tab index="0" name="general" label="一般" icon="fas fa-cog">
                <firebot-input
                    input-title="トリガー"
                    title-tooltip="コマンド一覧ページに表示されます"
                    placeholder-text="!something or phrase"
                    model="$ctrl.command.trigger"
                    disable-variables="true"
                    class="pb-4"
                    input-group-min-width="130px"
                >
                </firebot-input>

                <firebot-input
                    input-title="説明"
                    title-tooltip="コマンド一覧ページに表示されます"
                    placeholder-text="説明を入力"
                    model="$ctrl.command.description"
                    disable-variables="true"
                    class="pb-4"
                    input-group-min-width="130px"
                >
                </firebot-input>

                <div class="controls-fb-inline pb-5">
                    <label class="control-fb control--checkbox"
                        >有効
                        <input
                            type="checkbox"
                            ng-model="$ctrl.command.active"
                            aria-label="..."
                            checked
                        />
                        <div class="control__indicator"></div>
                    </label>
                    <label class="control-fb control--checkbox"
                        >非表示
                        <tooltip text="'このコマンドを !commands 一覧から非表示にします'"></tooltip>
                        <input
                            type="checkbox"
                            ng-model="$ctrl.command.hidden"
                            aria-label="..."
                        />
                        <div class="control__indicator"></div>
                    </label>
                </div>

                <div class="controls-fb-inline pb-5">
                    <label class="control-fb control--checkbox"
                        >トリガーメッセージを自動削除
                        <tooltip
                            text="'このコマンドを発火したメッセージを Firebot が自動削除し、チャットを見やすく保ちます。'"
                        >
                        </tooltip>
                        <input
                            type="checkbox"
                            ng-model="$ctrl.command.autoDeleteTrigger"
                            aria-label="..."
                        />
                        <div class="control__indicator"></div>
                    </label>
                    <label class="control-fb control--checkbox"
                        >メッセージ全体を検索
                        <tooltip
                            text="'先頭の単語だけでなく、メッセージ全体からトリガーを検索します。'"
                        ></tooltip>
                        <input
                            type="checkbox"
                            ng-model="$ctrl.command.scanWholeMessage"
                            aria-label="..."
                        />
                        <div class="control__indicator"></div>
                    </label>
                </div>

                <eos-collapsable-panel
                    show-label="RegEx オプションを表示"
                    hide-label="RegEx オプションを非表示"
                >
                    <p class="pb-3">
                        上級者向けです。これを有効にすると Firebot はトリガーを
                        JavaScript 形式の正規表現として扱います。
                        より複雑な一致パターンを定義できます。
                    </p>
                    <label class="control-fb control--checkbox"
                        >トリガーを RegEx として扱う
                        <input
                            type="checkbox"
                            ng-model="$ctrl.command.triggerIsRegex"
                            aria-label="..."
                        />
                        <div class="control__indicator"></div>
                    </label>
                    <div
                        class="input-group mt-3"
                        ng-if="$ctrl.command.triggerIsRegex"
                    >
                        <span class="input-group-addon" id="tooltip-desc"
                            >説明
                            <tooltip
                                text="'RegEx の用途メモを入力できます。メインのコマンドページでツールチップ表示されます。'"
                            >
                            </tooltip
                        ></span>
                        <input
                            type="text"
                            class="form-control"
                            aria-describedby="tooltip-desc"
                            ng-model="$ctrl.command.regexDescription"
                            placeholder="この正規表現は..."
                        />
                    </div>
                </eos-collapsable-panel>

                <div ng-hide="$ctrl.command.triggerIsRegex" class="pb-5">
                    <h4 class="mb-2">エイリアス</h4>
                    <editable-tags
                        model="$ctrl.command.aliases"
                        settings="aliasesListOptions"
                    ></editable-tags>
                </div>

                <div class="settings-title">
                    <h3>
                        <span ng-hide="$ctrl.command.scanWholeMessage || $ctrl.command.triggerIsRegex">基本 </span>エフェクト
                        <tooltip
                            ng-hide="$ctrl.command.scanWholeMessage || $ctrl.command.triggerIsRegex"
                            class="text-3xl"
                            text="'サブコマンドが無い場合は常に実行されます。サブコマンドがある場合は、ユーザーが引数を指定しない時のみ実行されます。'"
                        ></tooltip>
                    </h3>
                </div>

                <effect-list
                    header="このコマンドで何を実行しますか？"
                    effects="$ctrl.command.effects"
                    trigger="command"
                    trigger-meta="{ rootEffects: $ctrl.command.effects }"
                    update="$ctrl.effectListUpdated(effects)"
                    is-array="true"
                ></effect-list>

            </firebot-tab>

            <firebot-tab index="1" name="access" label="アクセス制御" icon="fas fa-shield-alt">
                <h3 class="mb-3">
                    制限
                    <span
                        class="muted pl-1 text-lg"
                        style="font-family: 'Quicksand'"
                        >(権限、通貨コストなど)</span
                    >
                </h3>
                <restrictions-list
                    restriction-data="$ctrl.command.restrictionData"
                    trigger="command"
                    trigger-meta="$ctrl.triggerMeta"
                    class="pb-6"
                >
                </restrictions-list>

                <h3 class="mb-3 mt-6">クールダウン</h3>
                <command-cooldown-settings
                    command="$ctrl.command"
                ></command-cooldown-settings>
            </firebot-tab>

            <firebot-tab index="2" name="subcommands" label="サブコマンド" badge="$ctrl.command.subCommands ? $ctrl.command.subCommands.length : 0" icon="fas fa-sitemap" ng-if="!$ctrl.command.scanWholeMessage && !$ctrl.command.triggerIsRegex">
                <div
                    class="mt-8"
                >
                    <div class="settings-title">
                        <p class="muted">
                            サブコマンドのトリガーに応じて
                            異なるエフェクトを実行できます
                        </p>
                    </div>
                    <div
                        ng-show="($ctrl.command.subCommands && $ctrl.command.subCommands.length) || $ctrl.command.fallbackSubcommand"
                    >
                        <div
                            ng-if="$ctrl.command.subCommands && $ctrl.command.subCommands.length > 0"
                            class="flex text-lg font-bold pb-4"
                        >
                            <div class="muted pl-8" style="flex-basis: 30%">
                                <i class="fas fa-tag"></i> 引数
                            </div>
                            <div class="muted" style="width: 25%">
                                <i class="fas fa-clock"></i> クールダウン
                            </div>
                            <div class="muted" style="width: 25%">
                                <i class="fas fa-lock-alt"></i> 権限
                            </div>
                            <div class="muted" style="width: 25%"></div>
                            <div
                                class="muted pr-8"
                                style="flex-basis: 30px; flex-shrink: 0"
                            ></div>
                        </div>
                        <subcommand-row
                            ng-repeat="subcommand in $ctrl.command.subCommands track by $index"
                            subcommand="subcommand"
                            cmd-trigger="{{$ctrl.command.trigger}}"
                            fully-editable="true"
                            on-delete="$ctrl.deleteSubcommand(id)"
                            on-edit="$ctrl.editSubcommand(id)"
                        ></subcommand-row>
                        <div ng-if="$ctrl.command.fallbackSubcommand != null">
                            <hr style="border-top: 1px solid #202021" />
                            <h4 class="muted">フォールバックサブコマンド:</h4>
                            <div
                                ng-if="!$ctrl.command.subCommands || $ctrl.command.subCommands.length === 0"
                            >
                                <div class="muted pb-4">
                                    <strong>注:</strong> 他のサブコマンドが存在しない場合、
                                    フォールバックサブコマンドは実行されません
                                </div>
                                <div class="flex text-lg font-bold pb-4">
                                    <div
                                        class="muted pl-8"
                                        style="flex-basis: 30%"
                                    >
                                        <i class="fas fa-tag"></i> 引数
                                    </div>
                                    <div class="muted" style="width: 25%">
                                        <i class="fas fa-clock"></i> クールダウン
                                    </div>
                                    <div class="muted" style="width: 25%">
                                        <i class="fas fa-lock-alt"></i>
                                        権限
                                    </div>
                                    <div class="muted" style="width: 25%"></div>
                                    <div
                                        class="muted pr-8"
                                        style="flex-basis: 30px; flex-shrink: 0"
                                    ></div>
                                </div>
                            </div>
                            <subcommand-row
                                subcommand="$ctrl.command.fallbackSubcommand"
                                cmd-trigger="{{$ctrl.command.trigger}}"
                                fully-editable="true"
                                on-delete="$ctrl.deleteSubcommand('fallback-subcommand')"
                                on-edit="$ctrl.editSubcommand('fallback-subcommand')"
                            ></subcommand-row>
                        </div>
                    </div>
                    <div>
                        <div
                            class="filter-bar clickable"
                            ng-click="$ctrl.openAddSubcommandModal()"
                            uib-tooltip="サブコマンドを追加"
                            aria-label="サブコマンドを追加"
                            tooltip-append-to-body="true"
                        >
                            <i class="far fa-plus mr-2"></i> サブコマンドを追加
                        </div>
                    </div>
                </div>
            </firebot-tab>

            <firebot-tab index="3" name="advanced" label="詳細" icon="fas fa-sliders-h">
                <h3 class="mb-3">動作オプション</h3>
                <div class="controls-fb-inline pb-5">
                    <label class="control-fb control--checkbox"
                        >引用符付きテキストを単一引数として扱う
                        <tooltip
                            text="'有効時、二重引用符内のテキストは引用符を除いて単一引数として扱われます。例: !command &quot;This is an argument&quot; は値 This is an argument の単一引数になります。'"
                        ></tooltip>
                        <input
                            type="checkbox"
                            ng-model="$ctrl.command.treatQuotedTextAsSingleArg"
                            aria-label="..."
                        />
                        <div class="control__indicator"></div>
                    </label>
                </div>

                <h3 class="mb-3 mt-5">次からのトリガーを無視</h3>
                <div class="controls-fb-inline pb-5">
                    <label class="control-fb control--checkbox"
                        >配信者アカウント
                        <tooltip
                            text="'配信者アカウントがこのコマンドを実行できるかどうか。'"
                        ></tooltip>
                        <input
                            type="checkbox"
                            ng-model="$ctrl.command.ignoreStreamer"
                            aria-label="..."
                        />
                        <div class="control__indicator"></div>
                    </label>
                    <label class="control-fb control--checkbox"
                        >Bot アカウント
                        <tooltip
                            text="'Bot アカウントがこのコマンドを実行できるかどうか。'"
                        ></tooltip>
                        <input
                            type="checkbox"
                            ng-model="$ctrl.command.ignoreBot"
                            aria-label="..."
                        />
                        <div class="control__indicator"></div>
                    </label>
                    <label class="control-fb control--checkbox"
                        >Whisper
                        <tooltip
                            text="'Whisper からこのコマンドを実行できるかどうか。'"
                        ></tooltip>
                        <input
                            type="checkbox"
                            ng-model="$ctrl.command.ignoreWhispers"
                            aria-label="..."
                        />
                        <div class="control__indicator"></div>
                    </label>
                </div>

                <h3 class="mb-3 mt-5">共有チャット</h3>
                <firebot-radios
                    options="$ctrl.sharedChatRadioOptions"
                    model="$ctrl.command.allowTriggerBySharedChat"
                    inline="true"
                    class="pb-5"
                />

                <h3 class="mb-3 mt-5">統計</h3>
                <div class="input-group">
                    <span class="input-group-addon">使用回数</span>
                    <input
                        class="form-control"
                        type="number"
                        min="0"
                        placeholder="0"
                        ng-model="$ctrl.command.count"
                    />
                </div>
            </firebot-tab>
        </firebot-tabs>
    </div>
</div>

<div class="modal-footer sticky-footer edit-command-footer">
    <button
        type="button"
        class="btn btn-danger pull-left"
        ng-show="!$ctrl.isNewCommand"
        ng-click="$ctrl.delete()"
    >
        <i class="fad fa-trash-alt"></i>
    </button>
    <button
        class="btn btn-link hvr-icon-forward pull-left"
        ng-click="$ctrl.switchCommandMode()"
    >
        <span
            >{{$ctrl.command.simple ? '詳細' : 'シンプル'}}モードに切り替え</span
        >
        <i class="fas fa-arrow-right hvr-icon"></i>
    </button>
    <button type="button" class="btn btn-link" ng-click="$ctrl.dismiss()">
        キャンセル
    </button>
    <button
        type="button"
        class="btn btn-primary add-new-board-save"
        ng-click="$ctrl.save()"
    >
        変更を保存
    </button>
</div>

<scroll-sentinel element-class="edit-command-footer"></scroll-sentinel>
