<div class="fb-tabbed-page">
  <div class="fb-tab-wrapper">
    <ul class="nav nav-tabs fb-tabs">
      <li
        role="presentation"
        ng-class="{'active' : activeCmdTab === 0}"
        ng-click="activeCmdTab = 0"
      >
        <a href>カスタムコマンド</a>
      </li>
      <li
        role="presentation"
        ng-class="{'active' : activeCmdTab === 1}"
        ng-click="activeCmdTab = 1"
      >
        <a href>システムコマンド</a>
      </li>
    </ul>
  </div>

  <firebot-item-table
    ng-if="activeCmdTab === 0"
    items="commandsService.getCustomCommands()"
    on-items-update="saveAllCommands(items)"
    headers="customCommandHeaders"
    sort-tag-context="commands"
    orderable="true"
    add-new-button-text="新しいコマンド"
    on-add-new-clicked="openAddOrEditCustomCommandModal()"
    context-menu-options="commandMenuOptions(item)"
    no-data-message="コマンドはまだありません! :)"
    none-found-message="コマンドはまだありません。"
    search-placeholder="コマンドを検索"
    test-button="true"
    on-test-button-clicked="manuallyTriggerCommand(itemId)"
    status-field="active"
    custom-filter-name="triggerSearch"
  >
    <fb-item-table-toolbar>
      <button
          ng-click="resetActiveCooldowns()"
          class="btn btn-default hvr-icon-grow"
        >
          <i class="iconify hvr-icon mr-2" data-icon="mdi:clock-fast"></i>
          実行待ちを解除
      </button>
    </fb-item-table-toolbar>
  </firebot-item-table>
  <div ng-if="activeCmdTab === 1" style="height: 100%; overflow-y: scroll;">
    <div>
      <scroll-sentinel element-class="sys-cmd-header"></scroll-sentinel>
      <div
        class="light-bg sticky-top sys-cmd-header p-6 m-0"
        style="
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
        "
      >
        <searchbar
          placeholder-text="検索..."
          query="sysCommandSearch"
          style="flex-basis: 250px"
        ></searchbar>
      </div>
      <div class="p-6">
        <div
          class="pb-4"
          style="
            display: flex;
            font-size: 11px;
            font-weight: bold;
          "
        >
          <div class="muted pl-8" style="flex-basis: 25%;">
            <i class="fas fa-tag"></i> 名前
          </div>
          <div class="muted" style="width: 20%">
            <i class="fas fa-exclamation"></i> 起動
          </div>
          <div class="muted" style="width: 20%">
            <i class="fas fa-clock"></i> 再実行待ち
          </div>
          <div class="muted" style="width: 20%">
            <i class="fas fa-lock-alt"></i> 権限
          </div>
          <div class="muted" style="width: 20%"></div>
          <div
            class="muted pr-8"
            style="flex-basis: 30px; flex-shrink: 0;"
          ></div>
        </div>
        <sys-command-row
          ng-repeat="sysCommand in commandsService.getSystemCommands() | orderBy:'name' | triggerSearch:sysCommandSearch track by sysCommand.id"
          command="sysCommand"
        ></sys-command-row>
      </div>
    </div>
  </div>
</div>
