<firebot-item-table
    items="effectQueuesService.effectQueues"
    on-items-update="onEffectQueuesUpdated(items)"
    headers="headers"
    sort-tag-context="effect queues"
    orderable="true"
    add-new-button-text="新しいエフェクトキュー"
    on-add-new-clicked="effectQueuesService.showAddEditEffectQueueModal()"
    context-menu-options="effectQueueOptions(item)"
    no-data-message="保存されたエフェクトキューがありません。作成してみましょう！"
    none-found-message="エフェクトキューが見つかりません。"
    search-placeholder="エフェクトキューを検索"
    status-field="active"
    status-enabled-label="有効"
    status-disabled-label="一時停止"
>
    <fb-item-table-toolbar>
      <firebot-button type="default" text="モニターを開く" ng-click="openEffectQueueMonitor()" />
    </fb-item-table-toolbar>
  </firebot-item-table>
</firebot-item-table>