<firebot-item-table
    items="effectQueuesService.effectQueues"
    on-items-update="onEffectQueuesUpdated(items)"
    headers="headers"
    sort-tag-context="演出キュー"
    orderable="true"
    add-new-button-text="新しい演出キュー"
    on-add-new-clicked="effectQueuesService.showAddEditEffectQueueModal()"
    context-menu-options="effectQueueOptions(item)"
    no-data-message="演出キューは作成されていません"
    none-found-message="演出キューはみつかりません"
    search-placeholder="演出キューを検索"
    status-field="active"
></firebot-item-table>