<div style="min-width: 500px;">
    <div class="p-6">
      <div class="content-block moderation-feature-block">
        <div class="content-block-body">
          <div class="font-semibold text-3xl">適用されない役割 <tooltip text="'これらの役割は、すべてのモデレーション機能から除外されます。'" /></div>

          <div class="mt-6">
            <exempt-roles model="cms.chatModerationData.settings.exemptRoles" on-update="cms.saveChatModerationSettings()"></exempt-roles>
          </div>
        </div>
      </div>

      <div class="content-block moderation-feature-block">
        <div class="content-block-body">
          <div class="title-toggle-button-container">
            <div class="font-semibold text-3xl" ng-class="{ muted: !cms.chatModerationData.settings.bannedWordList.enabled }">追放(BAN)ワードリスト</div>
            <div class="toggle-button-container">
              <toggle-button
                toggle-model="cms.chatModerationData.settings.bannedWordList.enabled"
                auto-update-value="true"
                on-toggle="cms.saveChatModerationSettings()"
                font-size="40"
              />
            </div>
          </div>
          <div class="mt-6" ng-show="cms.chatModerationData.settings.bannedWordList.enabled">
            <div class="my-8">
              <div class="mb-4 font text-2xl font-semibold">
                適用されない役割 <tooltip text="'これらの役割には、追放(BAN)ワードリストが適用されません'" />
              </div>
              <exempt-roles model="cms.chatModerationData.settings.bannedWordList.exemptRoles" on-update="cms.saveChatModerationSettings()"></exempt-roles>
            </div>
            <button ng-click="showEditBannedWordsModal()" class="btn btn-default">編集する</button>
          </div>
          <div
              style="width: 100%;"
              class="mt-8"
              ng-show="cms.chatModerationData.settings.bannedWordList.enabled"
            >
            <div class="muted">メッセージに禁止ワードまたは正規表現が含まれる場合に表示されるチャットメッセージ (メッセージなしの場合は空のまま).</div>
              <div class="muted mb-4 font-extrabold">
                変数: {userName}</span>
              </div>
              <firebot-input
                input-type="string"
                disable-variables="true"
                use-text-area="true"
                placeholder-text="テキストを入力"
                model="cms.chatModerationData.settings.bannedWordList.outputMessage"
                on-input-update="cms.saveChatModerationSettings()"
              />
            </div>
        </div>
      </div>

      <div class="content-block moderation-feature-block">
        <div class="content-block-body">
          <div class="title-toggle-button-container">
            <div class="font-semibold text-3xl" ng-class="{ muted: !cms.chatModerationData.settings.emoteLimit.enabled }">Emote/Emoji Limit</div>
            <div class="toggle-button-container">
              <toggle-button
                toggle-model="cms.chatModerationData.settings.emoteLimit.enabled"
                auto-update-value="true"
                on-toggle="cms.saveChatModerationSettings()"
                font-size="40"
              />
            </div>
          </div>

          <div class="mt-6" ng-show="cms.chatModerationData.settings.emoteLimit.enabled">
            <div class="my-8">
              <div class="mb-4 font text-2xl font-semibold">
                適用されない役割 <tooltip text="'これらの役割は、絵文字の制限が適用されません'" />
              </div>
              <exempt-roles model="cms.chatModerationData.settings.emoteLimit.exemptRoles" on-update="cms.saveChatModerationSettings()"></exempt-roles>
            </div>
            <firebot-input
              input-title="Max Per Message"
              placeholder-text="Enter number"
              input-type="number"
              disable-variables="true"
              model="cms.chatModerationData.settings.emoteLimit.max"
              on-input-update="cms.saveChatModerationSettings()"
            />
            <div
              style="width: 100%;"
              class="mt-8"
              ng-show="cms.chatModerationData.settings.emoteLimit.enabled"
            >
            <div class="muted">メッセージが絵文字の上限を超えた場合に表示されるチャットメッセージ</div>
              <div class="muted mb-4 font-extrabold">
                変数: {userName}</span>
              </div>
              <firebot-input
                input-type="string"
                disable-variables="true"
                use-text-area="true"
                placeholder-text="テキストを入力"
                model="cms.chatModerationData.settings.emoteLimit.outputMessage"
                on-input-update="cms.saveChatModerationSettings()"
              />
            </div>
          </div>
        </div>
      </div>

      <div class="content-block moderation-feature-block">
        <div class="content-block-body">
          <div class="title-toggle-button-container">
            <div class="font-semibold text-3xl" ng-class="{ muted: !cms.chatModerationData.settings.urlModeration.enabled }">URL チェック</div>
            <div class="toggle-button-container">
              <toggle-button
                toggle-model="cms.chatModerationData.settings.urlModeration.enabled"
                on-toggle="toggleUrlModerationFeature()"
                font-size="40"
              />
            </div>
          </div>
          <div class="muted mb-6">
            permitコマンドは自動的にシステムコマンドに追加されます
          </div>
          <div style="display: block;width: 100%;" class="my-8" ng-show="cms.chatModerationData.settings.urlModeration.enabled">
            <div class="my-8">
              <div class="mb-4 text-2xl font-semibold">
                適用されない役割 <tooltip text="'These roles are exempt from the url moderation.'" />
              </div>
              <exempt-roles model="cms.chatModerationData.settings.urlModeration.exemptRoles" on-update="cms.saveChatModerationSettings()"></exempt-roles>
            </div>
            <button ng-click="showEditUrlAllowlistModal()" class="btn btn-default">URL許可リストの編集</button>
          </div>
          <div
            class="title-toggle-button-container my-8"
            ng-show="cms.chatModerationData.settings.urlModeration.enabled"
          >
            <div class="font-semibold text-2xl" ng-class="{ muted: !cms.chatModerationData.settings.urlModeration.viewTime.enabled }">視聴時間</div>
            <div class="toggle-button-container">
              <toggle-button
                toggle-model="cms.chatModerationData.settings.urlModeration.viewTime.enabled"
                on-toggle="cms.saveChatModerationSettings()"
                auto-update-value="true"
                font-size="32"
              />
            </div>
            <div
              style="width: 100%;"
              class="mt-6"
              ng-show="cms.chatModerationData.settings.urlModeration.enabled && cms.chatModerationData.settings.urlModeration.viewTime.enabled"
            >
              <div class="muted mb-4 ml-6">閲覧時間が長い視聴者は、すべてURLチェックの対象外となります。</div>
              <firebot-input
                input-title="View time in hours"
                placeholder-text="Enter amount of hours"
                input-type="number"
                disable-variables="true"
                model="cms.chatModerationData.settings.urlModeration.viewTime.viewTimeInHours"
                on-input-update="cms.saveChatModerationSettings()"
              />
            </div>
          </div>
          <div
              style="width: 100%;"
              class="mt-8"
              ng-show="cms.chatModerationData.settings.urlModeration.enabled"
            >
            <div class="muted">URL を含むメッセージチェックに引っかかったときに表示されるチャットメッセージ (メッセージなしの場合は空のまま)。</div>
              <div class="muted mb-4 font-extrabold">
                変数: {userName}<span ng-show="cms.chatModerationData.settings.urlModeration.viewTime.enabled">, {viewTime}</span>
              </div>
              <firebot-input
                input-type="string"
                disable-variables="true"
                use-text-area="true"
                placeholder-text="テキストを入力"
                model="cms.chatModerationData.settings.urlModeration.outputMessage"
                on-input-update="cms.saveChatModerationSettings()"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
