<firebot-item-table
  items="presetEffectListsService.presetEffectLists"
  on-items-update="onPresetEffectListsUpdated(items)"
  headers="headers"
  sort-tag-context="preset effect lists"
  orderable="true"
  add-new-button-text="新しいプリセットエフェクトリスト"
  on-add-new-clicked="presetEffectListsService.showAddEditPresetEffectListModal()"
  context-menu-options="presetEffectListOptions(item)"
  no-data-message="保存されたプリセットエフェクトリストがありません。作成してみましょう！"
  none-found-message="プリセットエフェクトリストが見つかりません。"
  search-placeholder="プリセットエフェクトリストを検索"
  test-button="true"
  on-test-button-clicked="presetEffectListsService.showRunPresetListModal(itemId)"
></firebot-item-table>
