<firebot-item-table
  items="presetEffectListsService.presetEffectLists"
  on-items-update="onPresetEffectListsUpdated(items)"
  headers="headers"
  sort-tag-context="プリセット演出リスト"
  orderable="true"
  add-new-button-text="新規プリセット演出リスト"
  on-add-new-clicked="presetEffectListsService.showAddEditPresetEffectListModal()"
  context-menu-options="presetEffectListOptions(item)"
  no-data-message="プリセット演出リストは作成されていません"
  none-found-message="プリセット演出リストはみつかりません"
  search-placeholder="プリセット演出リストを検索"
  test-button="true"
  on-test-button-clicked="presetEffectListsService.showRunPresetListModal(itemId)"
></firebot-item-table>
