<div class="content-block info-page">
  <div class="content-block-body">
    <div class="page-content" style="min-height: 600px;">
        
        <div ng-if="getUpdateData() != null">

            <div ng-if="us.majorUpdate != null">
                <div class="update-alert alert alert-info" style="display: inline-block;">
                    <p><i class="fas fa-birthday-cake"></i> 嬉しいお知らせです。メジャーアップデート({{us.majorUpdate.gitVersion}}) が公開されました。すべての新機能と変更点については、アップデートノートをご覧ください。<a class="github-link" href ng-click="openLinkExternally(release.gitLink)"><button class="btn btn-primary">更新を見る</button></a></p>
                </div>
            </div>

            <div ng-if="us.majorUpdate == null && !getUpdateData().updateIsAvailable" class="update-alert alert alert-info" style="display: inline-block;">
                <p><i class="fas fa-check-circle"></i> お使いのFirebotは最新版です</p>
            </div>
          
            <div class="update-alert alert alert-warning" style="display: inline-block;" ng-if="getUpdateData().updateIsAvailable">
                <p>アップデートがリリースされたようです</p>
            </div>
            
            <div class="latest-update" style="font-size:30px;font-weight:200;">
                {{getUpdateData().gitName}}
            </div>
            <div class="release-date" style="font-weight:600;">
                {{getUpdateData().gitDate | date: 'medium'}}
            </div>
            <div class="update-notes" ng-bind-html="getUpdateData().gitNotes"></div>
            <div class="update-buttons">
                <a class="github-link" href><button class="btn btn-primary" ng-if="getUpdateData().updateIsAvailable" ng-click="downloadAndInstallUpdate()">アップデート</button></a>    
                <a href ng-click="openLinkExternally('https://github.com/Firebottle/Firebot/issues?q=is%3Aopen+is%3Aissue+label%3Abug')"><button class="btn btn-danger">バグを報告する</button></a>
                <a href ng-click="openLinkExternally('https://github.com/Firebottle/Firebot/issues?q=is%3Aopen+is%3Aissue+label%3A%22Feature+Request%22')"><button class="btn btn-info">提案する</button></a>
            </div>

        </div>
        
        <div ng-if="getUpdateData() == null">
            <div class="update-alert alert alert-info" style="display: inline-block;">
                <p>リリース情報は不明です</p>
            </div>
        </div>
    </div>
  </div>
</div>