<firebot-item-table
  items="variableMacroService.macros"
  on-items-update="onMacrosUpdated(items)"
  headers="headers"
  sort-tag-context="variable macros"
  orderable="true"
  add-new-button-text="新しい変数マクロ"
  on-add-new-clicked="variableMacroService.showAddOrEditVariableMacroModal()"
  context-menu-options="macroContextMenuOptions(item)"
  no-data-message="保存された変数マクロがありません。作成してみましょう！"
  none-found-message="変数マクロが見つかりません。"
  search-placeholder="変数マクロを検索"
  test-button="false"
></firebot-item-table>