<div class="modal-header">
    <button type="button" class="close" ng-click="$ctrl.dismiss()">&times;</span></button>
    <h4 class="modal-title">
        {{$ctrl.isNewHotkey ? '新規ホットキー' : 'ホットキーの編集' }}
    </h4>
</div>
<div class="modal-body">
    <div class="function-button-settings">
        <div class="controls-fb-inline" ng-if="!$ctrl.isNewHotkey">
            <label class="control-fb control--checkbox">有効
                <input type="checkbox" ng-model="$ctrl.hotkey.active">
                <div class="control__indicator"></div>
            </label>
        </div>

        <div class="alert alert-warning" ng-show="$ctrl.isNewHotkey">
            <b>ホットキーの注意点：</b>
            <ul>
                <li>Firebotは、他のアプリが既に予約しているホットキーを上書きすることはできません。 </li>
                <li>Firebotは、他のアプリによって既にホットキーが使用されているかどうかを検出できません。</li>
                <li>ホットキーを割り当てると、他のアプリケーションでそのキーで文字を入力できなくなります。</li>
            </ul>
        </div>

        <h3>名前</h3>
        <input type="text" class="form-control" ng-model="$ctrl.hotkey.name">

        <h3 style="margin-top:20px;">ホットキー</h3>
        <hotkey-capture on-capture="$ctrl.onHotkeyCapture(hotkey)" hotkey="$ctrl.hotkey.code"></hotkey-capture>

        <eos-collapsable-panel show-label="応用情報を出す" hide-label="応用情報を隠す">
            <h4>仮想ボタン</h4>
            <p style="margin-bottom:10px";>通常キーボードではこのボタンを押すことはできませんが、アプリによってはキーの組み合わせで送信できることがあります。</p>
            <dropdown-select options="['F13', 'F14', 'F15', 'F16', 'F17', 'F18', 'F19', 'F20', 'F21', 'F22', 'F23', 'F24']" ng-init="$ctrl.virtualBtn = 'F13'" selected="$ctrl.virtualBtn"></dropdown-select>
            <button class="btn btn-link" ng-click="$ctrl.onAddVirtualButtonToHotkey()" style="color: #092965;">ホットキーの追加</button>
        </eos-collapsable-panel>

        <div style="margin-top:20px;">
            <effect-list 
                header="What should this hotkey do?" 
                effects="$ctrl.hotkey.effects" 
                trigger="hotkey" 
                trigger-meta="{ rootEffects: $ctrl.hotkey.effects }"
                update="$ctrl.effectListUpdated(effects)"
            ></effect-list>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-danger pull-left" ng-show="!$ctrl.isNewHotkey" ng-click="$ctrl.delete()">削除</button>
    <button type="button" class="btn btn-link" ng-click="$ctrl.dismiss()">キャンセル</button>
    <button type="button" class="btn btn-primary" ng-click="$ctrl.save()">保存</button>
</div>